.Navcontainer {
    width: 100vw;
    display: flex;
    align-Items: center;
    justify-Content: space-around;
    background: rgb(85, 207, 150);
    flex-wrap: wrap;
}
.barreNav{
    width : 100%; 
    height : 4px;
    background: rgb(255, 94, 0);
}